a.link {
    color: blue;
}

.footer {
    color: #666;
    background-color: #ccc;
    padding: 15px;
    text-align: center;
    font-size: 14px;
}

.footer a {
    color: inherit;
    text-decoration: underline;
}
